.button-tag {
    cursor: pointer;
    font-size: 0.9rem;
    background: #002d72;
    color: #fff;
    font-weight: 500;
    border-radius: 0.2rem;
    height: 2.5rem;
    font-family: overpass;
    margin-right: 3%;
    padding-top: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid #002d72;
    width: 10%;
  }


  